# Importation des bibliothéques

In [1]:
import pandas as pd
import glob

In [2]:
import pandas as pd
import findspark
from pyspark.sql import SparkSession
from pyspark import SparkConf

# for dataframe and udf
from pyspark.sql import *
from pyspark.sql.functions import *
from pyspark.sql.types import *


from pyspark.sql.functions import col
from pyspark.sql import functions as F

from igraph import Graph
from pyspark.sql.window import Window
from pyspark.sql.functions import col

from functools import reduce
from pyspark.sql.functions import collect_set, min as min_, expr,array_min,max
from pyspark.sql.functions import lit

from pyspark.sql.types import StringType, IntegerType, LongType, FloatType, ArrayType,StructType,StructField, BooleanType

import pandas as pd
import glob

import time

import matplotlib.pyplot as plt

from pyspark.sql.types import BooleanType

In [3]:
import os
os.environ["SPARK_HOME"] =  "/root/anaconda3/lib/python3.9/site-packages/pyspark" 
os.environ["JAVA_HOME"] ="/usr"

# Lancer spark

In [4]:
findspark.init() 

def demarrer_spark(NB_CORES):
  local = f"local[{NB_CORES}]"
  # le parametre spark.local.dir indique le repertoire contenant les données temporaires ecrites sur disque lorsque le shufle ne tient pas en memoire
  appName = "PLDAC"
  configLocale = SparkConf().setAppName(appName).setMaster(local).\
  set("spark.executor.memory", "320G").\
  set("spark.driver.memory","320G").\
  set("spark.sql.catalogImplementation","in-memory").\
  set("spark.driver.maxResultSize", "20G").\
  set("spark.local.dir", "/data/bd/spark/tmp").\
  set("spark.sql.execution.arrow.pyspark.enabled", "true")
    

# # to allow sharing in memory arow format between pandas and spark : speeds up the creation of a spark df from a pandas df
# spark.conf.set("spark.sql.execution.arrow.pyspark.enabled", "true")


  spark = SparkSession.builder.config(conf = configLocale).getOrCreate()
  sc = spark.sparkContext
  sc.setLogLevel("ERROR")
  
  # spark.conf.set("spark.sql.autoBroadcastJoinThreshold","-1")
    
  # On ajuste l'environnement d'exécution des requêtes à la taille du cluster (NB_CORES coeurs)
  shuffle_partitions = 3 * NB_CORES
  print("shuffle", shuffle_partitions)
  spark.conf.set("spark.sql.shuffle.partitions", str(shuffle_partitions))    

  print("session démarrée, son id est ", sc.applicationId)
  return spark

# Lecture des données

In [5]:
spark = demarrer_spark(60)

WARNING: An illegal reflective access operation has occurred
WARNING: Illegal reflective access by org.apache.spark.unsafe.Platform (file:/root/anaconda3/lib/python3.9/site-packages/pyspark/jars/spark-unsafe_2.12-3.1.2.jar) to constructor java.nio.DirectByteBuffer(long,int)
WARNING: Please consider reporting this to the maintainers of org.apache.spark.unsafe.Platform
WARNING: Use --illegal-access=warn to enable warnings of further illegal reflective access operations
WARNING: All illegal access operations will be denied in a future release
24/04/28 00:20:49 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable
Using Spark's default log4j profile: org/apache/spark/log4j-defaults.properties
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
24/04/28 00:20:49 WARN SparkConf: Note that spark.local.dir will be overridden by the value set by the cluster manager (via SPARK_LOCAL_DIRS in mesos/standalone/kubernetes and LOCAL_DIRS in YARN).
24/04/28 00:20:50 WARN Utils: Service 'SparkUI' could not bind on port 4040. Attempting port 4041.
24/04/28 00:20:50 WARN Utils: Service 'SparkUI' could not bind on port 4041. Attempting port 4042.

shuffle 180
session démarrée, son id est  local-1714256450809

In [6]:
parquet_folder = "/data/bd/dataset/proteine/80_80/G99/graph_deduplicated_v2/"

df = spark.read.parquet(parquet_folder)
df.show(20)

+-----------+------------+-----------+-------------+------------+----------------+-------+------------+---+
|   query_id|query_length|  target_id|target_length|match_length|percent_identity|e_value|relative_sim|  r|
+-----------+------------+-----------+-------------+------------+----------------+-------+------------+---+
|100003172:0|          89|143094166:3|          799|          89|           100.0|2.2E-46|         1.0|  1|
|100003668:0|         102| 48815973:0|          222|         102|            99.0|3.9E-55|        0.99|  1|
|100004301:0|         169|106189136:2|          695|         169|            99.4|3.9E-94|       0.994|  1|
|100004301:0|         169|117840121:3|          264|         169|           100.0|1.9E-94|         1.0|  1|
|100004301:0|         169| 44038038:1|          524|         169|           100.0|5.4E-94|         1.0|  1|
|100004301:0|         169| 49847952:5|          458|         169|            99.4|1.2E-93|       0.994|  1|
|100004301:0|         169| 68146322:0|          509|         169|            99.4|3.6E-94|       0.994|  1|
|100004301:0|         169| 91784634:5|          532|         169|            99.4|2.2E-94|       0.994|  1|
| 10000486:1|          77| 40045340:2|           84|          77|           100.0|1.1E-28|         1.0|  1|
|100005477:3|          83|  1061792:3|          295|          83|           100.0|2.3E-42|         1.0|  1|
|100005477:3|          83| 46123706:0|          215|          83|           100.0|6.9E-42|         1.0|  1|
|100007146:0|          89|110429047:0|          153|          89|           100.0|1.2E-41|         1.0|  1|
|100007146:0|          89| 12065225:3|          324|          89|           100.0|1.2E-41|         1.0|  1|
|100007146:0|          89|125644689:2|          264|          89|           100.0|1.3E-41|         1.0|  1|
|100007146:0|          89|125759723:0|          219|          89|           100.0|1.3E-41|         1.0|  1|
|100007146:0|          89|136141594:0|          202|          89|           100.0|1.3E-41|         1.0|  1|
|100007146:0|          89|139761590:0|          154|          89|           100.0|1.3E-41|         1.0|  1|
|100007146:0|          89|152563487:0|          237|          89|           100.0|1.6E-41|         1.0|  1|
|100007146:0|          89| 16942694:2|          249|          89|           100.0|3.7E-41|         1.0|  1|
|100007146:0|          89| 21547212:2|          199|          89|           100.0|3.7E-41|         1.0|  1|
+-----------+------------+-----------+-------------+------------+----------------+-------+------------+---+
only showing top 20 rows

In [7]:
df = df[['target_id', 'query_id']]
df.count()

341807741

In [8]:
# Répartissez le DataFrame en n partitions
nb_partitions = [20,70,100,150]
for num_partitions in nb_partitions :
    df_repartitioned = df.repartition(num_partitions, 'target_id')

    # Écrivez le DataFrame réparti sur le disque
    # Vous pouvez ajuster le format et l'emplacement de sortie selon vos besoins
    output_path = f"/data/bd/dataset/proteine/80_80/G99/TEST_RACHA_CALCUL_COMPOSANTES/partitions/{num_partitions}_partitions"
    df_repartitioned.write.mode("overwrite").parquet(output_path)

In [16]:
num_partitions = 50
output_path = f"/data/bd/dataset/proteine/80_80/G99/TEST_RACHA_CALCUL_COMPOSANTES/partitions/{num_partitions}_partitions/part-00049-bbae4cde-d0d9-4958-9a0a-5953aa180d0c-c000.snappy.parquet"

df = spark.read.parquet(output_path)
num_rows = df.count()
print(f"Le fichier {output_path} contient {num_rows} lignes.")

Le fichier /data/bd/dataset/proteine/80_80/G99/TEST_RACHA_CALCUL_COMPOSANTES/partitions/50_partitions/part-00049-bbae4cde-d0d9-4958-9a0a-5953aa180d0c-c000.snappy.parquet contient 6904102 lignes.

In [18]:
num_partitions = 150
output_path = f"/data/bd/dataset/proteine/80_80/G99/TEST_RACHA_CALCUL_COMPOSANTES/partitions/{num_partitions}_partitions/part-00149-cf23f7e6-df01-44ab-a44f-c9faa14d4ab4-c000.snappy.parquet"

df = spark.read.parquet(output_path)
num_rows = df.count()
print(f"Le fichier {output_path} contient {num_rows} lignes.")

Le fichier /data/bd/dataset/proteine/80_80/G99/TEST_RACHA_CALCUL_COMPOSANTES/partitions/150_partitions/part-00149-cf23f7e6-df01-44ab-a44f-c9faa14d4ab4-c000.snappy.parquet contient 2305246 lignes.

# Partionnement des arêtes en plusieurs sous ensembles

In [8]:
# # Nombre de partitions
# num_partitions = 200

# # Ajout d'une nouvelle colonne 'partition' basée sur le modulo de seqID1
# df['partition'] = df['target_id'].apply(lambda x: hash(x) % num_partitions)

# # Afficher le DataFrame partitionné
# df

,target_id,query_id,partition
0,EukProt-v2_GFUD01036155.1.p1,100000481:3,111
1,12062594:2,100003668:0,187
2,56659524:1,100003668:0,163
3,136300595:3,100004174:2,142
4,142753793:3,100004301:0,153
...,...,...,...
341807736,METdb_00414-1-Transcript-29652.p1,TRINITY-DN9947-c4-g3-i1.p1,174
341807737,EukProt-v2_CAMPEP_0184944524,TRINITY-DN9969-c0-g4-i1.p1,70
341807738,METdb_00414-1-Transcript-29735.p1,TRINITY-DN9976-c0-g1-i3.p1,60
341807739,141777669:5,TRINITY-DN9989-c4-g4-i1.p1,141
341807740,142407845:3,TRINITY-DN9991-c0-g1-i10.p1,17

In [9]:
partition_freq = df.groupby('partition').size().reset_index(name='count')
partitions = partition_freq['partition'].unique()
for partition in partitions:
    df_partition = df[df['partition'] == partition]
    file_path = f"/data/bd/dataset/proteine/80_80/G99/TEST_RACHA_CALCUL_COMPOSANTES/200_partitions/partition_{partition}.parquet"
    df_partition.to_parquet(file_path, index=False, engine='pyarrow')

In [9]:
partition_freq = df.groupby('partition').sizecount(à
partition_freq

AnalysisException: cannot resolve '`partition`' given input columns: [query_id, target_id];
'Aggregate ['partition], ['partition, count(1) AS count#77L]
+- Project [target_id#2, query_id#0]
   +- Relation[query_id#0,query_length#1L,target_id#2,target_length#3L,match_length#4L,percent_identity#5,e_value#6,relative_sim#7,r#8] parquet